<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# article: http://ogp.me/ns/article#">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Jadhao Research Group</title>
    <meta content="Divide up your page to share your content effectively." name="description"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="https://assets.iu.edu/favicon.ico" rel="shortcut icon" type="image/x-icon"/><!-- Canonical URL -->
    <link href="https://styleguide.iu.edu/visual-style/layout-grid.html" itemprop="url" rel="canonical"/>
    <meta content="Divide up your page to share your content effectively." property="og:description"/>
    <meta content="https://styleguide.iu.edu/visual-style/layout-grid.html" property="og:url"/>
    <meta content="Web Style Guide" property="og:site_name"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="website" property="og:type"/>
    <meta content="Divide up your page to share your content effectively." name="twitter:description"/>
    <meta content="@IndianaUniv" name="twitter:site"/>
    <meta content="@IndianaUniv" name="twitter:creator"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="Layout &amp; Grid" itemprop="name"/>
    <meta content="Divide up your page to share your content effectively." itemprop="description"/>


    <link href="https://fonts.iu.edu/style.css?family=BentonSans:regular,bold%7CBentonSansCond:regular%7CGeorgiaPro:regular"
          rel="stylesheet">
    <link href="https://assets.iu.edu/web/fonts/icon-font.css" rel="stylesheet">
    <link href="https://assets.iu.edu/web/3.x/css/iu-framework.min.css" rel="stylesheet" type="text/css">
    <link href="https://assets.iu.edu/brand/3.x/brand.css" rel="stylesheet" type="text/css">
    <link href="https://assets.iu.edu/search/3.x/search.css" rel="stylesheet" type="text/css">
    <link href="https://assets.iu.edu/libs/highlight/styles/github.css" rel="stylesheet" type="text/css">
    <link href="https://styleguide.iu.edu/_assets/css/site.css" rel="stylesheet" type="text/css">

    <script src="https://assets.iu.edu/web/1.5/libs/modernizr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>