<!DOCTYPE HTML>
<html class="no-js ie9" itemscope="itemscope" itemtype="http://schema.org/Webpage" lang="en">

{% include head.html %}

<body class="mahogany no-banner has-page-title">

<div id="branding-bar" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity" role="complementary"
     aria-labelledby="campus-name">
    <div class="row pad">
        <img src="//assets.iu.edu/brand/3.x/trident-large.png" alt="IU"/>
        <p id="iu-campus">
            <a href="https://www.iu.edu" title="Indiana University">
                <span id="campus-name" class="show-on-desktop" itemprop="name">Indiana University</span>
                <span class="show-on-tablet" itemprop="name">Indiana University</span>
                <span class="show-on-mobile" itemprop="name">IU</span>
            </a>
        </p>
    </div>
</div>

<div class="off-canvas-wrappper-inner" data-off-canvas-wrapper="">
    <div class="off-canvas-content" data-off-canvas-content="">

        <header class="site-header" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity"
                role="banner">
            <div class="row pad">
                <h1><a class="title" href="https://jadhaolab.engineering.indiana.edu" itemprop="department">Jadhao
                    Research Group</a></h1>
            </div>
        </header>

        <nav role="navigation" aria-label="Main navigation" id="nav-main" itemscope="itemscope"
             itemtype="http://schema.org/SiteNavigationElement" class="main show-for-large dropdown">
            <ul class="row pad">
                <li class="show-on-sticky home"><a href="/">

                    Home</a></li>
                <li class="first"><a href="index.html" itemprop="url"
                                     class="current"><span itemprop="name">Home</span></a>
                </li>
                <li class="last"><a href="publications.html" itemprop="url"><span
                        itemprop="name">Publications</span></a></li>
                <li class="last"><a href="highlights.html" itemprop="url"><span
                        itemprop="name">Highlights</span></a></li>
                <li class="last"><a href="group.html" itemprop="url"><span
                        itemprop="name">Group</span></a></li>
                <li class="last"><a href="contact.html" itemprop="url"><span
                        itemprop="name">Contact</span></a></li>
                <li class="last"><a href="bits.html" itemprop="url"><span
                        itemprop="name">Tech Bits</span></a></li>
            </ul>
        </nav>

        <main class="no-section-nav" role="main">
            {{ content }}
        </main>
    </div>
</div>

{% include footer.html %}

</body>

<!-- Include Javascript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://assets.iu.edu/web/3.x/js/iu-framework.min.js" type="text/javascript"></script>
<script src="https://styleguide.iu.edu/_assets/js/site.js" type="text/javascript"></script>

</html>
